[Unit]
Description=tunn-awg Telegram bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/tunn-awg
Environment=PYTHONUNBUFFERED=1
ExecStart=/var/lib/tunn-awg/venv/bin/python -m bot.bot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
